---
import Content from '../components/widgets/Content.astro';
import Hero from '../components/widgets/Hero.astro';
import Layout from '../layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> Tejas Automation</span>
      <br />
      is dedicated to providing next generation enterprise
      <span class="text-accent dark:text-white highlight"> tank monitoring solutions</span>.
    </Fragment>

    <Fragment slot="subtitle">
      Tejas is a tank monitoring solutions company small business company that combines expertise in water operations,
      environmental and process engineering, and software development to create environmental centric data management
      solutions. <br /><br />
      Tejas patented technology is proven and award-winning. Our mission is to develop forward-thinking, scalable and affordable
      solutions and services for environmental professionals.
    </Fragment>
  </Hero>

  <Content
    isReversed
    tagline=""
    title=""
    description=""
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Strong Field and Domain Expertise
      </h3>
      The Tejas Automation team has substantial hands-on industry experience. We are well tuned to the needs of the market
      and understand constraints faced by our clients.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proven Technology
      </h3>
      Tejas patented technology is proven and recognized.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  
</Layout>
