---
import Layout from '~/layouts/PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import GoogleForm from '../components/widgets/GoogleForm.astro';

// import Announcement from '~/components/widgets/Announcement.astro';

import content from '../content/pages/content.json';
const content_index = content.index;
const { hero } = content.index;
const { features } = content.index;

const metadata = {
  title: content_index.metadata,
  ignoreTitleTemplate: true,
  contactPhone: content.header.contactPhone,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero3

  image={{ src: hero.image, alt: hero.alt }}
  isReversed={ hero.isReversed}
  >
    <Fragment slot="title">
      {content_index.hero.title}
       <span class="hidden xl:inline"></span>
      <p><span class="text-accent dark:text-white highlight"> 
        {content_index.hero.title2} 
      </span> </p>
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Tejas Automation</span> is a subtext subtext...</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Tejas Automation: Production-ready.</span>
       Suitable for Oil and Gas Producers, etc etc etc.
    </Fragment> -->
  </Hero3>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->
  
  

  <Features
    id="features"
    
    items={features.items}
  />


  <GoogleForm 
      title="Drop us a message today!"
      subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there!"
      disclaimer={{
        label:
          'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
      }}
      description="Our support team typically responds within 24 business hours."
  />
  

  </Layout>
