---
import { SITE } from '~/utils/config';
import Image from 'astro/components/Image.astro';
import logoSrc from '../assets/images/formatted_logo.png';

---

<div class="flex items-center">
  <!-- Logo image -->
  <Image
    src={logoSrc}
    alt="Tejas Automation Logo"
    class="w-12 h-12" 
    loading="lazy"
  />
  
  <!-- Site name -->
  <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
  </span>
</div>