---
import { SITE } from '~/utils/config';
import Image from 'astro/components/Image.astro';
import logoSrc from '../assets/images/formatted_logo.png';
import logoDarkSrc from '../assets/images/formatted_logo_dark.png'; // import the dark mode logo

---

<div class="flex items-center">
  <!-- Light mode logo image -->
  <Image
    src={logoSrc}
    alt="Site Logo"
    class="w-12 h-12 dark:hidden" 
    loading="lazy"
  />

  <!-- Dark mode logo image -->
  <Image
    src={logoDarkSrc}
    alt="Site Logo"
    class="w-12 h-12 hidden dark:block"
    loading="lazy"
  />
  
  <!-- Site name -->
  <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
  </span>
</div>